@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body{background-color:black;
color:white; text-align:center;
font-family: 'M PLUS Rounded 1c', sans-serif;
}
h1{
position:relative;
top:-250px;
}
p{
position:relative;
top:-180px;
}
#png{
width:100%;
}
#button{
border-radius: 100px;
display: block;
width: 100px;
padding: 7px;
box-sizing: border-box;
background:white;
color:black;
text-decoration: none;
text-align: center;
margin: 7px 0;
position:relative;
}
#all-button{display: flex;
  flex-direction: row;
  justify-content: space-between;
margin:0 200px;
}
