body {
  font-family: sans-serif;
}
h1{
  background-color:black;
  color:white;}
.insane {
    padding: 0.5em 1em;
    color: #232323;
    background-color: #fff8e8;
}

.t9decode {background-color:#0067c0;}
