 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); 
body{
height:100%;
color:white;
text-align:center;
font-family: 'Righteous', cursive;
font-size:150%;
line-height:200%;
}
body:after{
position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    content: "";
    z-index: -1;
background:linear-gradient(25deg, #c234ff, #a571fe, #7d98fd, #22b8fb)fixed;
}
p{
font-size:150%;
}
a{
color:white;
}
.sns{
padding: 10px;
border-width:20px;
  border: 1px solid white;
}
